<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>Ultimas 20 fotos</ion-title>
  <!--<ion-button shape="round" color="danger" fill="solid" expand="block">
    <a href="tel:911" class="emergency-text">📞 LLAMAR A EMERGENCIAS</a>
  </ion-button>-->
  <btn-emergency></btn-emergency>
  <div class="spinner-container">
    <ion-spinner *ngIf="imageUrls.length == 0"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let imageApi of imageUrls">
        <ion-card [color]="imageApi.personDetected ? 'danger' : 'success'">
          <img [src]="imageApi.url" [alt]="imageApi.filename" />
          <label class="image-date">{{imageApi.timestamp}}</label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
