<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <btn-emergency></btn-emergency>
  <div class="spinner-container">
    <ion-spinner *ngIf="photoList.images.length == 0"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let imageApi of photoList.images">
        <ion-card class="photo-card" [color]="imageApi.personDetected ? 'danger' : 'success'">
          <!--<div [ngClass]="{'person-detected': imageApi.personDetected, 'no-person': !imageApi.personDetected}">-->
            <img [src]="imageApi.url" [alt]="imageApi.filename"/>
            <div class="overlay">
              <ion-icon name="time-outline"></ion-icon>
              {{formatTimestamp(imageApi.timestamp)}}
            </div>
          <!--</div>-->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="ion-padding ion-text-center">
    <ion-button (click)="prevPage()" [disabled]="photoList.page === 1">Anterior</ion-button>
    <ion-button (click)="nextPage()">Siguiente</ion-button>
  </ion-footer>
</ion-content>
